body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
}

.sidebar {
  width: 50%;
  height: 100vh;
  background-color: #F2568A;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

.sidebar input,
.sidebar select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.sidebar button {
  width: 100%;
  background-color: white;
  color: #F2568A;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: #ffffffcc;
}

.filter-section {
  margin-bottom: 20px;
  position: relative;
}

.filter-section input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.dropdown {
  position: absolute;
  width: 100%;
  max-height: 200px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  z-index: 10;
  border: 1px solid #F2568A;
  transition: all 0.3s ease-in-out;
  padding: 5px 0;
}

.dropdown div {
  padding: 12px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  background: #fff;
  transition: background 0.2s ease-in-out, transform 0.1s ease-in-out;
  border-bottom: 1px solid #f1f1f1;
  text-align: left;
  white-space: nowrap;
}

.dropdown div:last-child {
  border-bottom: none;
}

.dropdown div:hover {
  background-color: #e04576;
  color: white;
  transform: scale(1.02);
}

.paciente-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.paciente-container input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.paciente-container button {
  background-color: #F2568A;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
}

.paciente-container button:hover {
  background-color: #e04576;
}

#filter-procedimento button {
  margin-top: 5px;
}

#lista-procedimentos h4 {
  margin: 15px 0 5px;
}

.procedimento-card {
  border: 2px solid #F2568A;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.procedimento-card h5 {
  margin: 0;
  font-size: 18px;
  color: #F2568A;
  font-weight: bold;
}

.parceiros-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parceiro-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FCE4EC;
  padding: 5px;
  border-radius: 5px;
  gap: 10px;
}

.parceiro-item span {
  flex: 2;
  font-weight: bold;
  color: black;
}

.parceiro-item input {
  flex: 1;
  min-width: 80px;
  max-width: 100px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

.parceiro-item button {
  background-color: transparent;
  color: #F2568A;
  border: none;
  cursor: pointer;
  text-align: center;
}

.parceiro-item button:hover {
  color: red;
}

.procedimento-card button {
  background-color: #F2568A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.procedimento-card button:hover {
  background-color: #e04576;
}

.dropdown-parceiros {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  display: block;
  z-index: 1000;
  width: 220px;
}

.dropdown-parceiros .dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-parceiros .dropdown-item:hover {
  background-color: #F2568A;
  color: white;
}

.procedimentos-container-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

#parceiro-subtype {
  display: flex;
  gap: 5px;
}

#parceiro-subtype input {
  width: 100%;
}

#parceiro-subtype select {
  width: 45%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: #F2568A;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#parceiro-subtype select option {
  background-color: white;
  font-weight: bold;
}

/*##########################################################################################*/
#filter-parceiro-add-button {
  margin-top: 5px;
}

#lista-parceiros h4 {
  margin: 15px 0 5px;
}

.parceiro-card {
  border: 2px solid #F2568A;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parceiro-card h5 {
  margin: 0;
  font-size: 18px;
  color: #F2568A;
  font-weight: bold;
}

.procedimentos-container {
  background: #fce4ec;
  margin-top: 0;
  display: flex;
  padding: 5px;
  flex-direction: column;
}

.procedimento-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FCE4EC;
  padding: 5px;
  border-radius: 5px;
  gap: 10px;
}

.procedimento-item span {
  flex: 2;
  font-weight: bold;
  color: black;
}

.procedimento-item input {
  flex: 1;
  min-width: 80px;
  max-width: 100px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

.procedimento-item button {
  background-color: transparent;
  color: #F2568A;
  border: none;
  cursor: pointer;
  text-align: center;
}

.procedimento-item button:hover {
  color: red;
}

.parceiro-card button {
  background-color: #F2568A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.parceiro-card button:hover {
  background-color: #e04576;
}

.dropdown-procedimentos {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  display: block;
  z-index: 1000;
  width: 95%;
}

.dropdown-procedimentos .dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-procedimentos .dropdown-item:hover {
  background-color: #F2568A;
  color: white;
}

.subtotal {
  font-weight: bold;
  color: #F2568A;
  font-size: 16px;
  text-align: right;
  margin-top: 5px;
}

.procedimentos-container-buttons {
  display: flex;
  gap: 5px;
}

/**=============================== PACOTE ================================ **/
/* Estilização dos pacotes adicionados */
.pacote-item {
  display: flex;
  flex-direction: column;
  background: #ffebee;
  padding: 3px;
  border-radius: 5px;
  border: 2px dashed #f2568a;
  margin-top: 0px;
}

.pacote-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.pacote-info span {
  flex: 2;
  font-weight: bold;
  color: #d32f2f;
}

.valor-input {
  flex: 1;
  min-width: 80px;
  max-width: 100px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.remover-pacote {
  background: transparent;
  border: none;
  color: #f2568a;
  cursor: pointer;
  font-size: 14px;
}

.remover-pacote:hover {
  color: red;
}

.dropdown-pacotes {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}

.input-dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Lista de sugestões dentro do dropdown */
.dropdown-list {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
  background: white;
  border-radius: 5px;
}

.dropdown-list .dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-list .dropdown-item:hover {
  background-color: #F2568A;
  color: white;
}

/* Lista de procedimentos do pacote */
.lista-procedimentos {
  margin-top: 8px;
  padding-left: 15px;
  list-style-type: none;
}

.lista-procedimentos li {
  font-size: 14px;
  color: #555;
  padding: 3px 0;
  font-weight: bold;
}

.lista-procedimentos li:before {
  content: "✔ ";
  color: green;
}

.total-container {
  position: sticky;
  bottom: 0;
  background-color: #F2568A;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-top: 2px solid white;
}

.total-container h3 {
  margin: 0;
  font-size: 22px;
}

.total-container button {
  background-color: white;
  color: #F2568A;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  transition: background 0.3s ease-in-out;
}

.total-container button:hover {
  background-color: #ffffffcc;
}


/*##########################################################################################*/

#filter-pacote button {
  margin-top: 5px;
}

#lista-pacotes h4 {
  margin: 15px 0 5px;
}

.pacote-card {
  border: 2px solid #F2568A;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pacote-card h5 {
  margin: 0;
  font-size: 18px;
  color: #F2568A;
  font-weight: bold;
}

/*----------------*/
.pacote-card button {
  background-color: #F2568A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.pacote-card button:hover {
  background-color: #e04576;
}

.procedimentos-container {
  background: #fce4ec;
  padding: 5px;
  border-radius: 5px;
  margin-top: 0px;
}

.procedimento-item {
  font-size: 14px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.parceirosPacote-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-parceiros {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  display: block;
  z-index: 1000;
  width: 200px;
}

.dropdown-parceiros .dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-parceiros .dropdown-item:hover {
  background-color: #F2568A;
  color: white;
}

#novo-paciente {
  width: 10%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* ============================ CHAT ============================ */

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-btn {
  text-decoration: none;
  color: #F2568A;
  font-weight: bold;
  margin-bottom: 10px;
}

.chat-box {
  flex-grow: 1;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-input {
  display: flex;
  margin-top: 10px;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #F2568A;
  color: white;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #e04576;
}