body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
}

.sidebar {
  width: 50%;
  height: 100vh;
  background-color: #F2568A;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

.sidebar input,
.sidebar select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.sidebar button {
  width: 100%;
  background-color: white;
  color: #F2568A;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: #ffffffcc;
}

.filter-section {
  margin-bottom: 20px;
  position: relative;
}

.filter-section input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.dropdown {
  position: absolute;
  width: 100%;
  max-height: 200px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  z-index: 10;
  border: 1px solid #F2568A;
  transition: all 0.3s ease-in-out;
  padding: 5px 0;
}

.dropdown div {
  padding: 12px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  background: #fff;
  transition: background 0.2s ease-in-out, transform 0.1s ease-in-out;
  border-bottom: 1px solid #f1f1f1;
  text-align: left;
  white-space: nowrap;
}

.dropdown div:last-child {
  border-bottom: none;
}

.dropdown div:hover {
  background-color: #e04576;
  color: white;
  transform: scale(1.02);
}

.paciente-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.paciente-container input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.paciente-container button {
  background-color: #F2568A;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
}

.paciente-container button:hover {
  background-color: #e04576;
}

#filter-produto button {
  margin-top: 5px;
}

#lista-produtos h4 {
  margin: 15px 0 5px;
}

.produto-card {
  border: 2px solid #F2568A;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.produto-card h5 {
  margin: 0;
  font-size: 18px;
  color: #F2568A;
  font-weight: bold;
}

.parceiros-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parceiro-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FCE4EC;
  padding: 5px;
  border-radius: 5px;
  gap: 10px;
}

.parceiro-item span {
  flex: 2;
  font-weight: bold;
  color: black;
}

.parceiro-item input {
  flex: 1;
  min-width: 80px;
  max-width: 100px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

.parceiro-item button {
  background-color: transparent;
  color: #F2568A;
  border: none;
  cursor: pointer;
  text-align: center;
}

.parceiro-item button:hover {
  color: red;
}

.produto-card button {
  background-color: #F2568A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.produto-card button:hover {
  background-color: #e04576;
}

.produtos-container-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

#parceiro-subtype {
  display: flex;
  gap: 5px;
}

#parceiro-subtype input {
  width: 100%;
}

#parceiro-subtype select {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: #F2568A;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#parceiro-subtype select option {
  background-color: white;
  font-weight: bold;
}

#subtipo-select {
  width: 30%;
}

#parceiro {
  width: 70%;
}

/*##########################################################################################*/
#filter-parceiro-add-button {
  margin-top: 5px;
}

#lista-parceiros h4 {
  margin: 15px 0 5px;
}

.parceiro-card {
  border: 2px solid #F2568A;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parceiro-card h5 {
  margin: 0;
  font-size: 18px;
  color: #F2568A;
  font-weight: bold;
}

.produtos-container {
  background: #fce4ec;
  margin-top: 0;
  display: flex;
  padding: 5px;
  flex-direction: column;
}

.produto-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FCE4EC;
  padding: 5px;
  border-radius: 5px;
  gap: 10px;
}

.produto-item span {
  flex: 2;
  font-weight: bold;
  color: black;
}

.produto-item input {
  flex: 1;
  min-width: 80px;
  max-width: 100px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

.produto-item button {
  background-color: transparent;
  color: #F2568A;
  border: none;
  cursor: pointer;
  text-align: center;
}

.produto-item button:hover {
  color: red;
}

.parceiro-card button {
  background-color: #F2568A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.parceiro-card button:hover {
  background-color: #e04576;
}

.dropdown-produtos {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  display: block;
  z-index: 1000;
  width: 95%;
}

.dropdown-produtos .dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-produtos .dropdown-item:hover {
  background-color: #F2568A;
  color: white;
}

.subtotal {
  font-weight: bold;
  color: #F2568A;
  font-size: 16px;
  text-align: right;
  margin-top: 5px;
}

.produtos-container-buttons {
  display: flex;
  gap: 5px;
}

/**=============================== PACOTE ================================ **/
/* Estilização dos pacotes adicionados */
.pacote-item {
  display: flex;
  flex-direction: column;
  background: #ffebee;
  padding: 3px;
  border-radius: 5px;
  border: 2px dashed #f2568a;
  margin-top: 0px;
}

.pacote-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.pacote-info span {
  flex: 2;
  font-weight: bold;
  color: #d32f2f;
}

.valor-input {
  flex: 1;
  min-width: 80px;
  max-width: 100px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.remover-pacote {
  background: transparent;
  border: none;
  color: #f2568a;
  cursor: pointer;
  font-size: 14px;
}

.remover-pacote:hover {
  color: red;
}

.dropdown-pacotes {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}

.input-dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Lista de sugestões dentro do dropdown */
.dropdown-list {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
  background: white;
  border-radius: 5px;
}

.dropdown-list .dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-list .dropdown-item:hover {
  background-color: #F2568A;
  color: white;
}

/* Lista de produtos do pacote */
.lista-produtos {
  margin-top: 8px;
  padding-left: 15px;
  list-style-type: none;
}

.lista-produtos li {
  font-size: 14px;
  color: #555;
  padding: 3px 0;
  font-weight: bold;
}

.lista-produtos li:before {
  content: "✔ ";
  color: green;
}

.total-container {
  position: sticky;
  bottom: 0;
  background-color: #F2568A;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-top: 2px solid white;
}

.total-container h3 {
  margin: 0;
  font-size: 22px;
}

.total-container button {
  background-color: white;
  color: #F2568A;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  transition: background 0.3s ease-in-out;
}

.total-container button:hover {
  background-color: #ffffffcc;
}


/*##########################################################################################*/

#filter-pacote button {
  margin-top: 5px;
}

#lista-pacotes h4 {
  margin: 15px 0 5px;
}

.pacote-card {
  border: 2px solid #F2568A;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pacote-card h5 {
  margin: 0;
  font-size: 18px;
  color: #F2568A;
  font-weight: bold;
}

/*----------------*/
.pacote-card button {
  background-color: #F2568A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.pacote-card button:hover {
  background-color: #e04576;
}

.produtos-container {
  background: #fce4ec;
  padding: 5px;
  border-radius: 5px;
  margin-top: 0px;
}

.produto-item {
  font-size: 14px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.parceirosPacote-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-parceiros {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  display: block;
  z-index: 1000;
  width: 200px;
}

.dropdown-parceiros .dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-parceiros .dropdown-item:hover {
  background-color: #F2568A;
  color: white;
}

#novo-paciente {
  width: 10%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* --------------------------------------------------------------------------------------------- */
.dropdown-procedimentos {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  display: block;
  z-index: 1000;
  width: 220px;
}

.dropdown-procedimentos .dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-procedimentos .dropdown-item:hover {
  background-color: #F2568A;
  color: white;
}

#procedimentos-specialty {
  display: flex;
  gap: 5px;
}

#procedimentos-specialty input {
  width: 100%;
}

#procedimentos-specialty select {
  width: 45%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: #F2568A;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#procedimentos-specialty select option {
  background-color: white;
  font-weight: bold;
}

#filter-procedimentos-add-button {
  margin-top: 5px;
}

#lista-procedimentos h4 {
  margin: 15px 0 5px;
}

/* --------------------------------------------------------------------------------------------- */
.procedimento-lista {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.procedimento-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
  padding: 3px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0;
}

.procedimento-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.procedimento-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: none;
}

.procedimento-item span {
  flex: 19;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.procedimento-item button {
  flex: 1;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  min-width: 20px;
}

.procedimento-item button:hover {
  color: white;
}

/* --------------------------------------------------------------------------------------------- */

.alert-margem {
  color: #d9534f;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  vertical-align: middle;
  cursor: pointer;
  /* position: relative; */
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #f0ad4e;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
  max-width: 220px;
  text-align: center;
  white-space: normal;
  z-index: 100;
  bottom: 26%;
  left: 16%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.alert-margem:hover+.tooltip {
  display: block;
  opacity: 1;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f0ad4e transparent;
}

.valores-globais-container {
  position: sticky;
  top: -20px;
  background-color: #F2568A;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid white;
}

.valores-globais-container button {
  background-color: white;
  color: #F2568A;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease-in-out;
}

.valores-globais-container button:hover {
  background-color: #ffffffcc;
}

/* ------------------------------------- MODAL ----------------------------------------- */
/* Fundo escuro cobrindo toda a tela */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 38px;
  cursor: pointer;
  color: #F2568A;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover {
  color: red;
  transform: scale(1.2);
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-row label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-row input,
.form-row select,
.form-row textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #F2568A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #e04576;
}

/* ------------------------------------------------------------------------------------- */

/* ============================ CHAT ============================ */

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-btn {
  text-decoration: none;
  color: #F2568A;
  font-weight: bold;
  margin-bottom: 10px;
}

.chat-box {
  flex-grow: 1;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-input {
  display: flex;
  margin-top: 10px;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #F2568A;
  color: white;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #e04576;
}