.container {
  width: 210mm;
  min-height: 297mm;
  margin: auto;
  padding: 20mm;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 100vh;
  margin: 0;
}

h1,
h2,
p {
  margin: 10px 0;
}

p {
  margin-left: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid black;
  text-align: left;
}

/* ----------------------------------------------- HEADER --------------------------------------------------- */
.header-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.logo {
  width: 190px;
  margin-right: 15px;
}

.gradient-line {
  flex-grow: 1;
  height: 6px;
  background: linear-gradient(to right, #f0578b, #9e91a6, #0df0cf);
  border-radius: 5px;
}

.header-decoration {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -20mm;
  margin-right: -20mm;
  width: 300px;
  height: 200px;
  background: #f15586;
  clip-path: path("M 0 0 Q 10 50 100 50 Q 280 50 300 200 L 300 0 Z");
}

/* -------------------------------------------------------------------------------------------------- */

.title-box {
  background-color: #f4548c;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  width: fit-content;
}

.client-info {
  margin-bottom: 10mm;
}

.client-info h2 {
  color: black;
  margin-top: 5px;
}

.procedimentos table {
  width: 100%;
  border-collapse: collapse;
}

.procedimentos th,
.procedimentos td {
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

.pink-bg {
  background-color: #f4548c;
  color: white;
}

.green-bg {
  background-color: #00E5FF;
  color: white;
}

.procedimentos .gradient-line {
  margin-top: 3mm;
  margin-bottom: 3mm;
}

.valor-total {
  font-size: 22px;
  text-align: right;
}

.valor-total span {
  font-weight: bold;
  margin-right: 10mm;
}

.termos {}

.termos-title {
  background-color: #f4548c;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  width: fit-content;
}

.agradecimento {
  font-weight: bold;
  color: black;
}

.empresa {
  text-align: right;
  border: 2px solid black;
  padding: 5px;
  width: fit-content;
  margin-left: auto;
}

footer {
  margin-left: -20mm;
  margin-right: -20mm;
  margin-bottom: -20mm;
  margin-top: auto;
  width: calc(100% + 40mm);
  height: 130px;
  background: linear-gradient(to right, #f0578b, #9e91a6, #0df0cf);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.footer-container {
  display: flex;
  padding: 8mm 20mm;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-item .icon-wrapper {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item .icon {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

/* -------------------------------------------- PRINT --------------------------------------- */
@media print {
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    background: white;
  }

  .container {
    width: 100%;
    height: 100%;
    margin: auto;
    box-shadow: none;
    padding: 15mm;
  }

  .no-print {
    display: none;
  }
}