<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Orçamento</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'cadastro/css/criar_orcamento_style.css' %}">
    <script src="{% static 'cadastro/js/criar_orcamento_script.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="filter-section">
                <div class="filter-paciente">
                    <label for="paciente">Paciente</label>
                    <div class="paciente-container">
                        <input type="text" id="paciente" placeholder="Digite o nome do paciente...">
                        <button id="novo-paciente">➕</button>
                    </div>
                    <div id="sugestoes-pacientes" class="dropdown"></div>
                </div>

                <div id="filter-parceiro">
                    <label for="parceiro">Parceiro:</label>
                    <div id="parceiro-subtype">
                        <input type="text" id="parceiro" placeholder="Digite o nome do parceiro...">
                    </div>
                    <div id="sugestoes-parceiros" class="dropdown"></div>
                    <button id= "filter-parceiro-add-button" onclick="adicionarParceiro()">Adicionar parceiro</button>
                
                    <div id="lista-parceiros">
                        <h4>Parceiros Selecionados:</h4>
                        <div id="parceiros-list">
                            <!-- Os parceiros aparecerão aqui -->
                        </div>
                    </div>
                </div>

                <!-- <div id="filter-pacote">
                    <label for="pacote">Pacote:</label>
                    <input type="text" id="pacote" placeholder="Digite o nome do pacote...">
                    <div id="sugestoes-pacotes" class="dropdown"></div>
                    <button onclick="adicionarPacote()">Adicionar Pacotes</button>
                
                    <div id="lista-pacotes">
                        <h4>Pacotes Selecionados:</h4>
                        <div id="pacotes-list">
                        </div>
                    </div>
                </div> -->
                
            </div>

            <div class="total-container">
                <h3 id="total-geral">Total: R$ 0,00</h3>
                <button id="proximo-passo">Prosseguir para Pagamento</button>
            </div>
        </div>

        <div class="chat-container">
            <div class="header">
                <div class="chat-header">Chat</div>
                <a href="/" class="back-btn">⬅ Voltar para Home</a>
            </div>

            <div class="chat-box">
                <p><strong>IA:</strong> Como posso ajudar?</p>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Digite sua mensagem...">
                <button>Enviar</button>
            </div>
        </div>
    </div>
    
</body>
</html>
