{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Orçamento</title>

    <link rel="stylesheet" href="{% static 'cadastro/css/criar_orcamento_style.css' %}">
    <script src="{% static 'cadastro/js/orcamento_util.js' %}"></script>
    <script src="{% static 'cadastro/js/editar_orcamento_script.js' %}" defer></script>
</head>
<body>
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  <div class="container">
      <div class="sidebar">
          <div class="filter-section">
            <div class="valores-globais-container">
              <button onclick="abrirModal()">Aplicar valores globais</button>
              <button id="abrir-modal-btn" onclick="abrirModalTabela()">Resumo</button>
            </div>

            <div class="status-container">
              <label for="status">Status do Orçamento:</label>
              <select id="status" name="status">
                {% for status in status_list %}
                  <option value="{{ status.id }}" {% if status.id == orc_status.id %} selected {% endif %}>
                    {{ status.nome }}
                  </option>
                {% endfor %}
              </select>
            </div>
            
            <!-- Paciente -->
            <div class="filter-paciente">
                <label for="paciente">Paciente</label>
                <div class="paciente-container">
                    <input type="text" id="paciente" value="{{ paciente.nome }}" disabled>
                </div>
            </div>

            <!-- Procedimentos -->
            <div class="filter-procedimentos">
              <label for="procedimentos">Procedimentos</label>
              <div id="procedimentos-specialty">
                <select id="procedimentos-select" name="procedimento">
                  <option value>Selecione o procedimento</option>
                  {% for procedimento in procedimento_list %}
                    <option value="{{ procedimento.id }}" data-specialty="{{ procedimento.especialidade.id }}">
                      {{ procedimento.nome }}
                    </option>
                  {% endfor %}
                </select>

                <select id="specialty-select" name="specialty">
                  <option value>Todos</option>
                  {% for especialidade in especialidade_list %}
                    <option value="{{ especialidade.id }}">
                      {{ especialidade.nome }}
                    </option>
                  {% endfor %}
                </select>
              </div>

              <button id= "filter-procedimentos-add-button" onclick="adicionarProcedimentos()">Adicionar procedimento</button>

              <div id="lista-procedimentos">
                  <h4>Procedimentos Selecionados:</h4>
                  <div id="procedimentos-list">
                    {% for procedimento in procedimento_list %}
                      <li class="procedimento-item" data-id="{{ procedimento.procedimento_id }}">
                        <span>{{ procedimento.procedimento_nome }}</span>
                        <button>❌</button>
                      </li>
                    {% endfor %}
                  </div>
              </div>
            </div>
          </div>
      </div>

      <div class="main-container">
        <div class="header">
            <div class="main-header">Orçamento</div>
            <a href="/" class="back-btn">⬅ Voltar para Home</a>
        </div>

        <div class="main-box">
            <div id="filter-parceiro">
                <label for="parceiro">Parceiro:</label>
                <div id="parceiro-subtype">
                    <select id="parceiro" name="parceiro">
                        <option value>Selecione o parceiro</option>
                        {% for parceiro in parceiro_list %}
                            <option value="{{ parceiro.id }}" data-subtipo="{{ parceiro.subtipo.id }}">
                                {{ parceiro.nome }}
                            </option>
                        {% endfor %}
                    </select>

                    <select id="subtipo-select">
                        <option value>Todos</option>
                        {% for subtipo in subtipo_list %}
                            <option value="{{ subtipo.id }}">
                                {{ subtipo.nome }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- <div id="sugestoes-parceiros" class="dropdown"></div> -->
                <button id= "filter-parceiro-add-button" onclick="adicionarParceiro()">Adicionar parceiro</button>
            
                <div id="lista-parceiros">
                  <h4>Parceiros Selecionados:</h4>
                  <div id="parceiro-list">
                    {% for parceiro in parceiros %}
                        <div class="parceiro-card" data-parceiro-id="{{ parceiro.parceiro_id }}">
                          <div class="produtos-container-header">
                            <button class="remover-parceiro-btn">❌</button>
                            <h5 class="parceiro-title">{{ parceiro.parceiro_nome }}</h5>
                          </div>

                          <div class="produtos-container">
                            <div class="produtos-container-buttons">
                              <button>Adicionar Produto</button>
                            </div>
                            
                            {% for produto in parceiro.produtos %}
                              <div class="produto-item" data-id="{{ produto.produto_id }}" data-parceiro-id="{{ parceiro.parceiro_id }}">
                                  <span>{{ produto.produto_nome }}</span>
                                  <input type="number" value="{{ produto.valor_venda }}" step="0.01">
                                  <button class="remover-produto-btn">❌</button>
                              </div>
                              {% endfor %}
                          </div>
                          <p class="subtotal">Subtotal: R$&nbsp;0,00</p>
                        </div>
                    {% endfor %}
                  </div>
                </div>

                <div class="total-particular">
                    <h3 id="total-particular">Total particular: R$ 0,00</h3>
                </div>
            </div>
        </div>

        <div class="total-container">
          <h3 id="total-geral">Total: R$ {{ orcamento.valor_total }}</h3>
          <button id="salvar-orcamento" data-id="{{ orcamento.id }}">Salvar Alterações</button>
        </div>
    </div>
  </div>
</body>
</html>
