{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Orçamento</title>

    <link rel="stylesheet" href="{% static 'cadastro/css/criar_orcamento_style.css' %}">
    <script src="{% static 'cadastro/js/editar_orcamento_script.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="filter-section">
                
                <!-- Paciente -->
                <div class="filter-paciente">
                    <label for="paciente">Paciente</label>
                    <div class="paciente-container">
                        <input type="text" id="paciente" value="{{ paciente.nome }}" disabled>
                    </div>
                </div>

                <!-- Parceiros e Procedimentos -->
                <div id="lista-parceiros">
                    <h4>Parceiros Selecionados:</h4>
                    {% for parceiro in parceiros %}
                        <div class="parceiro-card" data-parceiro-id="{{ parceiro.parceiro_id }}">
                            <h5>{{ parceiro.parceiro_nome }}</h5>
                            <div class="procedimentos-container">
                              {% for procedimento in parceiro.procedimentos %}
                                <div class="procedimento-item" data-id="{{ procedimento.procedimento_id }}" data-parceiro-id="{{ parceiro.id }}">
                                    <span>{{ procedimento.procedimento_nome }}</span>
                                    <input type="number" value="{{ procedimento.valor_venda }}" step="0.01">
                                    <button onclick="removerProcedimento(this)">❌</button>
                                </div>
                                {% endfor %}
                            </div>
                            <button onclick="adicionarProcedimentoBy(this)">Adicionar Procedimento</button>
                        </div>
                    {% endfor %}
                </div>

                <!-- Total -->
                <div class="total-container">
                    <h3 id="total-geral">Total: R$ {{ orcamento.valor_total }}</h3>
                    <button id="salvar-orcamento" data-id="{{ orcamento.id }}">Salvar Alterações</button>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
